<!DOCTYPE html>
<html>
<head>
    <title>Google Search</title>
    <style>
        .search-container {
            text-align: center;
        }
        .right {
            text-align: right;
        }
    </style>
</head>
<body>
    <nav>
        <div class="right">
        <a href="{% url 'search:images_search' %}">Google Image Search</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'search:advanced_search' %}">Google Advanced Search</a>
        </div>
    </nav>
    <div class="search-container">
        <form onsubmit="submitForm(); return false;" action="{% url 'search:index' %}" method="post">
            {% csrf_token %}
            <input type="text" id="searchBox" placeholder="Enter your search query">
            <br>
            <button type="submit">Search</button>
            <br>
            <button type="submit">I'm Feeling Lucky</button>
        </form>

        <script>
        function submitForm() {
            var query = document.getElementById("searchBox").value;
            if (query !== "") {
                var url = "https://google.com/?q=" + encodeURIComponent(query);
                window.location.href = url;
            }
        }
        </script>
    </div>
</body>
</html>
